<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo center black">NFL'S MOST WANTED</a>
    </div>
  </nav>

  <div class="cuffslogo">
    <%= image_tag("nflcuffs.jpg", :size => "400x300") %>
  </div>

 <div id="player_names">
    <% @data.each do |p| %>
      <p>
      <a href="/players/<%= p["Name"] %>"><%= p["Name"] %></a>
      </p>
    <% end %>
  </div>
</html>
