<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Player Information</title>
  </head>
  <body>
    <h1>Number of arrests: <%= @player.length %></h1>
    <h1><%= @player[0]["Name"] %></h1>
    <h1><%= @player[0]["Date"] %></h1>
    <h1><%= @player[0]["Description"] %></h1>
  </body>
</html>
